.card-title{
    color: black;
    font-weight: bold;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
.h4-align{
    text-align: center;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-weight: bold;
}
agm-map {
    height: 300px;
  }