.card-title{
    color: black;
    font-weight: bold;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
.h4-align{
    text-align: center;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-weight: bold;
}
.parallax-container {
    height: 100%;
  }

.img-responsive{
    height: 60%;
    width: 60%;
}

.aling-img{
    text-align: center;
}