<nav class="nav-layout">
  <div class="nav-wrapper">
    <!-- <a routerLink="" class="brand-logo nav-font" style="left: 1%">Metalúrgica Martins</a> -->
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/quem-somos">Quem Somos</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/nosso-trabalho">Nosso trabalho</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/contato">Contato</a>
      </li>
    </ul>
    <a href="#" materialize="sideNav" [materializeActions]="navbarResponsive" data-activates="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul id="slide-out" class="side-nav">
      <li routerLinkActive="active" (click)="hide()">
        <a routerLink="/home"><i class="material-icons">home</i>Home</a>
      </li>
      <li routerLinkActive="active" (click)="hide()">
        <a routerLink="/quem-somos"><i class="material-icons">mood</i>Quem Somos</a>
      </li>
      <li routerLinkActive="active" (click)="hide()">
        <a routerLink="/nosso-trabalho"><i class="material-icons">settings</i>Nosso trabalho</a>
      </li>
      <li routerLinkActive="active" (click)="hide()">
        <a routerLink="/contato"><i class="material-icons">contacts</i>Contato</a>
      </li>
      <li><div class="divider"></div></li>
      <li (click)="hide()">
        <a href="https://m.facebook.com/metalmartins/" target="_blank"><i class="material-icons">thumb_up</i>Facebook</a>
      </li>
    </ul>
  </div>
</nav>

<div class="page-background">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 style="text-align: center">Contato</h5>
        <div style="text-align: center">
          <h6>Metalúrgica Martins</h6>
          <h6>Rua Apolónia Schuster Zonta</h6>
          <h6>Bairro Nossa Senhora de Lourder</h6>
          <h6>Xanxerê / Santa Catarina</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright
      <a class="waves-effect waves-light btn social facebook btn-social" href="https://www.facebook.com/metalmartins/">
        <i class="material-icons">thumb_up</i>  Siga no Facebook</a>
    </div>
  </div>
</footer>